*{
	padding: 0;
}

body{
	margin-top: 60px;
	background: #298EEA; 
	font-size: 22px;
}

#logo{
	vertical-align: middle;
}

#logo img{
	display: block;
	width: 163.22px;
	height: 35px;
	margin: 0 auto;
}

#Signup{
	border-radius: 5px;
	vertical-align: middle;
	background: white;
	width: 340px;
	padding: 10px 40px 40px 40px;
	margin: 30px auto 0 auto;
}

#Signup_topic{
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
}

#Signup_topic label{
	display: none;
}

#Signup input{
	font-size: 20px;
	display: flex;
	border: 1px solid black;
	border-radius: 3px;
	width: 280px;
	height: 54px;
	margin: 20px 0;
	padding: 0 20px;
}

#Signup button{
	border-radius: 3px;
	width: 320px;
	height: 55px;
	background: green;
	color: white;
}

#footer{
	text-align: center;
	margin: 10px auto;
	color: white;
	font-weight: bold;
}

#footer a{
	margin: auto;
	color: white;
	font-weight: bold;
}